[user]
    name = Vencronys
    email = vencronys@gmail.com
    # signingkey = ~/.ssh/id_ed25519 # Use GPG if needed

[init]
  defaultBranch = main

[core]
    editor = nvim
    autocrlf = input
    # pager = delta # Uncomment if you use 'delta' for better diffs

# [alias]
#     co = checkout
#     br = branch
#     st = status -sb
#     ci = commit
#     cm = commit -m
#     amend = commit --amend --no-edit
#     last = log -1 --stat
#     graph = log --oneline --decorate --graph --all
#     unstage = reset HEAD --
#     discard = checkout --
#     fixup = commit --fixup
#     squash = rebase -i --autosquash HEAD~3
#     wip = commit -m "WIP"
#     undo = reset --soft HEAD~
#     recent = log --since="2 weeks ago" --author="$(git config user.name)" --oneline

[push]
    default = simple

[fetch]
    prune = true

[pull]
    rebase = true

[merge]
    ff = only

[diff]
    tool = nvimdiff
    colorMoved = default
    # Uncomment the next line to enable delta
    # external = delta

[difftool]
    prompt = false

[rerere]
    enabled = true

[color]
    ui = auto

[credential]
    helper = cache

[interactive]
    # Uncomment the next line to enable delta for interactive diffs
    # diffFilter = delta --color-only

